<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>This is for Jinja Tags</h1>


    <p>My name is {{ name }} and I am {{ age }} years Old. </p>

    <!-- if condition -->


    {% if age >= 18 %}

        <p>You are Eligible to VOte</p>

    {% else %}

        <p>You are not Eligible to Vote</p>

    {% endif %}


    <!-- For Loop -->

    <ul>
        {% for fruit in snakcs %}

            <li>{{fruit}}</li>

        {% endfor %}
    </ul>
    
</body>
</html>